.box{
	width: 1180px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

body{
	margin: 0;
	width: 100%;
	padding: 0;
}




/*HEADER*/



header #top-nav{
	height: 41px; 
	margin-bottom: 37px;
}


header #top-nav nav{
	width: 100%;
	background-color: #000000;
	height: 100%;
}

header #top-nav nav ul{
	width: 25%;
	margin: 0;
	background-color: #000000;
	height: 100%;
	float: left;
	padding: 0;
}

header #top-nav nav ul li{
	list-style: none;
	width: 50%;
	height: 40px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	float: center;
	margin-top: 10px;
}

header #top-nav nav ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

header #top-nav nav ul + ul{
	width: 75%;
	height: 100%;
	list-style: none;
	float: left;
	margin: 0;
}

header #top-nav nav ul + ul li{
	list-style: none;
	float: right;
	width: 7.5%;
}

header #top-nav nav ul + ul li a{
	text-decoration: none;
	color: #A3A38E;
	font-size: 11px;
}

header #top-nav nav ul + ul li + li a{
	color: #ffffff;
	font-size: 13px;
}


header #middle{
	height: 65px;
}

header #middle div{
	width: 33.33%;
	float: left;
	height: 100%;
	text-align: center;
}

header #middle div input{
	border: 1px solid #797979;
	border-color: rgb(121, 121, 121);
	border-style: solid;
	border-width: 1px;
	background: none;
	text-transform: uppercase;
	color: rgba(0,0,0,1);
	width: 170px;
	padding: 5px 40px 5px 15px;
	height: 28px;
	float: left;
	font-size: 11px
}

header #middle div + div{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/t/17/assets/logo.png?16579107724765185310');
	background-repeat: no-repeat;
	background-position: 50% 0;
}


header #middle div + div + div{
	background-image: none;

}


header #middle div + div + div a{
	float: right;
	text-decoration: none;
	margin-top: 12px;
	font-weight: bolder;
	color: #A3A38E;
	font-size: 12px;
	letter-spacing: 0.8px;
}


header #bottom-nav{
	height: 29px;
	width: 100%;
}

header #bottom-nav nav{
	height: 100%;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

header #bottom-nav nav ul{
	list-style: none;
	height: 100%;
	width: 850px;
	padding: 0;
	margin: 0 auto 0 auto;
}


header #bottom-nav nav ul li{
	float: left;
	height: 100%;
	width: 14%;
	text-align: center;
	
}


header #bottom-nav nav ul li a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;

}


/*HEADER-END*/


/*MAIN*/
.img-animation{
	width: 280px;
	height: 280px;
	transition: all 0.75s ease-in-out;
 	opacity: 0.5;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
}

.price-caption-standart{

}

.price-caption-old{

}

.price-caption-sale{
	
}


main #top img{
	margin-top: 17px;
}

main #products{
	width: 1200px;
}

main #products h2{
	margin-top: 14px;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1.5px;
	text-align: center;
}

main #products figure{
	width: 25%;
	background-color: blue;
	margin: 0;
	padding: 0;
	float: left;
	height: 390px;
}

main #products figure #img1{
	background-image: url('');
}

main #products figure #img2{
	background-image: url('');
}

main #products figure #img3{
	background-image: url('');
}

main #products figure #img4{
	background-image: url('');
}

main #products figure #img5{
	background-image: url('');
}

main #products figure #img6{
	background-image: url('');
}	

main #products figure #img7{
	background-image: url('');
}

main #products figure #img8{
	background-image: url('');
}

main #products figure #img9{
	background-image: url('');
}

main #products figure #img10{
	background-image: url('');
}

main #products figure #img11{
	background-image: url('');
}

main #products figure #img12{
	background-image: url('');
}

main #products figure #img13{
	background-image: url('');
}

main #products figure #img14{
	background-image: url('');
}

main #products figure #img15{
	background-image: url('');
}

main #products figure #img16{
	background-image: url('');
}

