.box{
	width: 1180px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

body{
	margin: 0;
	width: 100%;
	padding: 0;
	height: auto;
}




/*HEADER*/



header #top-nav{
	height: 41px; 
	margin-bottom: 37px;
}


header #top-nav nav{
	width: 100%;
	background-color: #000000;
	height: 100%;
}

header #top-nav nav ul{
	width: 25%;
	margin: 0;
	background-color: #000000;
	height: 100%;
	float: left;
	padding: 0;
}

header #top-nav nav ul li{
	list-style: none;
	width: 50%;
	height: 40px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	float: center;
	margin-top: 10px;
}

header #top-nav nav ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

header #top-nav nav ul + ul{
	width: 75%;
	height: 100%;
	list-style: none;
	float: left;
	margin: 0;
}

header #top-nav nav ul + ul li{
	list-style: none;
	float: right;
	width: 7.5%;
}

header #top-nav nav ul + ul li a{
	text-decoration: none;
	color: #A3A38E;
	font-size: 11px;
}

header #top-nav nav ul + ul li + li a{
	color: #ffffff;
	font-size: 13px;
}


header #middle{
	height: 65px;
}

header #middle div{
	width: 33.33%;
	float: left;
	height: 100%;
	text-align: center;
}

header #middle div input{
	border: 1px solid #797979;
	border-color: rgb(121, 121, 121);
	border-style: solid;
	border-width: 1px;
	background: none;
	text-transform: uppercase;
	color: rgba(0,0,0,1);
	width: 170px;
	padding: 5px 40px 5px 15px;
	height: 28px;
	float: left;
	font-size: 11px
}

header #middle div + div{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/t/17/assets/logo.png?16579107724765185310');
	background-repeat: no-repeat;
	background-position: 50% 0;
}


header #middle div + div + div{
	background-image: none;

}


header #middle div + div + div a{
	float: right;
	text-decoration: none;
	margin-top: 12px;
	font-weight: bolder;
	color: #A3A38E;
	font-size: 12px;
	letter-spacing: 0.8px;
}


header #bottom-nav{
	height: 29px;
	width: 100%;
}

header #bottom-nav nav{
	height: 100%;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

header #bottom-nav nav ul{
	list-style: none;
	height: 100%;
	width: 850px;
	padding: 0;
	margin: 0 auto 0 auto;
}


header #bottom-nav nav ul li{
	float: left;
	height: 100%;
	width: 14%;
	text-align: center;
	
}


header #bottom-nav nav ul li a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;

}


/*HEADER-END*/


/*MAIN*/
.img-animation{
	width: 280px;
	height: 280px;
	transition: all  ease-in-out 0s;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	background-repeat: no-repeat;
	background-size: 280px 280px;
}

.img-animation:hover{
  	opacity: .4;
}

.price-caption-standart{

}

.price-caption-old{

}

.price-caption-sale{

}

main{
	height: 2450px;
}

main #top img{
	margin-top: 17px;
}

main #products{
	width: 1200px;
	height: 80%;
}

main #products h2{
	margin-top: 14px;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1.5px;
	text-align: center;
}

main #products figure{
	width: 25%;
	margin: 0;
	padding: 0;
	float: left;
	height: 390px;
}

main #products figure #img1{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_7811-Edit_aa5839d5-b8e4-47c1-a0f8-453ba4fde6e2_large.jpg?v=1426207240');
}

main #products figure #img1:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_7812-Edit_0bcc97cb-4dc7-44aa-805d-202d0d9de7d3_large.jpg?v=1426207241');

}

main #products figure #img2{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/001_large.jpg?v=1426202040');
}

main #products figure #img2:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/004_large.jpg?v=1426202040');

}

main #products figure #img3{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/034_large.jpg?v=1426202096');
}

main #products figure #img3:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/037_large.jpg?v=1426202096');
}

main #products figure #img4{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/017_large.jpg?v=1426202098');
}

main #products figure #img4:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/020_large.jpg?v=1426202098');
}

main #products figure #img5{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_1_large.jpg?v=1425926182');
}

main #products figure #img5:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_1_large.jpg?v=1425926182');
}

main #products figure #img6{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_2_large.jpg?v=1425925441');
}	

main #products figure #img6:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_2_large.jpg?v=1425925441');
}

main #products figure #img7{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_7724-Edit_copy_large.jpg?v=1425931619');
}

main #products figure #img7:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_7725-Edit_copy_large.jpg?v=1425931620');
}

main #products figure #img8{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/kCv8vNoxp_Z9pYeEL6LKzamk2vcEr_6iHWONPg8y_6Y_large.jpeg?v=1426202113');
}

main #products figure #img8:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/UG8X6NtubYlFmyEUuuloUjICBwHb6aoM1N8hg2O3Lac_large.jpeg?v=1426202113');
}

main #products figure #img9{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_4_large.jpg?v=1425927151');
}

main #products figure #img9:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_4_large.jpg?v=1425927151');
}

main #products figure #img10{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_3_large.jpg?v=1425925990');
}

main #products figure #img10:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/stpatties_3_large.jpg?v=1425925990');
}

main #products figure #img11{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_7727-Edit_large.jpg?v=1425931419');
}

main #products figure #img11:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_7727-Edit_large.jpg?v=1425931419');
}

main #products figure #img12{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/heather-crewneck_largR_large.jpg?v=1426114480');
}

main #products figure #img12:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/heather-crewneck_largRb_ack_large.jpg?v=1426114488');
}

main #products figure #img13{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_6735-Edit_large.jpg?v=1423769798');
}

main #products figure #img13:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_6736-Edit_large.jpg?v=1423769798');
}

main #products figure #img14{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/DSC_6670-Edit_large.jpg?v=1423765443');
}

main #products figure #img14:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/YRMENS0138_60_large.jpg?v=1423765443');
}

main #products figure #img15{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/m5fhNZomTPy_Y0s0xuOCBhkvVgtFbWh0gyDcculPrI4_32437331-fae6-4293-b9ae-8ed3474b17a3_large.jpeg?v=1423765610');
}

main #products figure #img15:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/YRMENS0138_71_large.jpg?v=1423765610');
}

main #products figure #img16{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/150123YR0126_large.jpg?v=1426202115');
}

main #products figure #img16:hover{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/150123YR0126_5-Edit_large.jpg?v=1426202115');
}
